{% if not nav_item.children %}
<li {% if nav_item.active %}class="active"{% endif %}>
    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
</li>
{% else %}
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">{{ nav_item.title }}</a>
  </li>
{% endif %}
